<div class="accordion-box {{ @class}}" id="{{ @id }}">
    <ul>
        <li class="">
            <a href="javascript:void(0);">选项卡1</a>
            <div class="accordion-content">
                <div>
                    <p>
                        <a href="javascript:void(0);">子选项1</a>
                        <a href="javascript:void(0);">子选项2</a>
                        <a href="javascript:void(0);">子选项3</a>
                        <a href="javascript:void(0);">子选项4</a>
                        <a href="javascript:void(0);">子选项5</a>
                    </p>
                </div>
            </div>
        </li>
        <li>
            <a href="javascript:void(0);">选项卡2</a>
            <div class="accordion-content">
                <div style="text-align: center">
                    <img src="http://img.lanrentuku.com/img/allimg/1212/5-121204193955-50.gif" alt=""/>
                </div>
            </div>
        </li>
        <li>
            <a href="javascript:void(0);">选项卡3</a>
            <div class="accordion-content">
                <img width="250" src="http://www.cignacmb.com/resource/upimg/201605/2016053111151438418.jpg" alt="安享康健重疾保险C款">
            </div>
        </li>
        <li>
            <a href="http://www.cignacmb.com/" target="_blank" class="none">选项卡4</a>
        </li>
        <li>
            <a href="javascript:void(0);">选项卡5</a>
            <div class="accordion-content">
                <img width="250" src="http://www.cignacmb.com/resource/upimg/201605/2016053111185298701.jpg" alt="守护未来儿童教育金(分红型)">
            </div>
        </li>
    </ul>
</div>