<div class="accordion-box {{ @class}}" id="{{ @id }}">
    <ul>
        <li class="">
            <a href="javascript:void(0);">重疾险</a>
            <div class="accordion-content">
                <img src="http://www.cignacmb.com/sites/default/themes/cigna_cmc/images/20150601_01.jpg" alt="重疾险">
            </div>
        </li>
        <li>
            <a href="javascript:void(0);">少儿教育金</a>
            <div class="accordion-content">
                <img src="http://www.cignacmb.com/sites/default/themes/cigna_cmc/images/banner_20150604_01.jpg" alt="少儿教育金">
            </div>
        </li>
        <li>
            <a href="javascript:void(0);" class="hot">运筹帷幄</a>
            <div class="accordion-content">
                <img src="http://www.cignacmb.com/sites/default/themes/cigna_cmc/images/20150706_01.jpg" alt="运筹帷幄">
            </div>
        </li>
        <li>
            <a href="javascript:void(0);">暑期亲子活动</a>
            <div class="accordion-content">
                <img src="http://www.cignacmb.com/sites/default/themes/cigna_cmc/images/2016061501.jpg" alt="暑期亲子活动">
            </div>
        </li>
        <li>
            <a href="javascript:void(0);">老友安心防癌保险</a>
            <div class="accordion-content">
                <img src="http://www.cignacmb.com/sites/default/themes/cigna_cmc/images/20150601_07.jpg" alt="老友安心防癌保险">
            </div>
        </li>
        <li>
            <a href="javascript:void(0);">宝贝启航</a>
            <div class="accordion-content">
                <img src="http://www.cignacmb.com/sites/default/themes/cigna_cmc/images/20160105.jpg" alt="宝贝启航">
            </div>
        </li>
    </ul>
</div>