<div class="tab-strip-box {{ @direction }}" id="{{ @id }}">
    <div class="tab-nav-box">
        <span>选项卡1</span>
        <span>选项卡2</span>
        <span>选项卡3</span>
        <span>选项卡4</span>
    </div>
    <div class="tab-content-box">
        <div class="tab-content">
            <h2>招商信诺一路助跑 首届莞马落幕</h2>
            <p>一直以来，我们都在倡导健康运动与健康生活理念，此次赞助莞马也是希望能号召更多的人关注自己的健康，或许在大多数人的眼中，保险是在风险事故发生后对事主的补偿，不过我们也希望号召更多人在疾病...</p>
        </div>
        <div class="tab-content">
            <img src="https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/logo/bd_logo1_31bdc765.png" width="50%" alt=""/>
        </div>
        <div class="tab-content">
            <ul>
                <li>首页</li>
                <li>个人保险</li>
                <li>团体保险</li>
                <li>客户服务</li>
                <li>关于我们</li>
            </ul>
        </div>
        <div class="tab-content">
            <img src="http://www.cignacmb.com/sites/default/themes/cigna_cmc/images/banner_20150604_01.jpg" width="100%" alt=""/>
        </div>
    </div>
</div>