.tab-strip-box{
    padding: 0;
    margin: 50px auto;
    width: 600px;
    position: relative;
    overflow: hidden;
}
.tab-strip-box.horizontal .tab-nav-box{
    font-size: 0;
    border-bottom: solid 1px #DADADA;
    position: relative;
}
.tab-strip-box.horizontal .tab-nav-box span{
    display: inline-block;
    padding: 0 20px;
    margin: 0 10px -1px 0;
    height: 40px;
    line-height: 40px;
    background-color: #ECECEC;
    border: solid 1px #DADADA;
    border-bottom: none;
    text-align: center;
    text-shadow: 1px 1px 1px white;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.tab-strip-box.horizontal .tab-nav-box span:hover,
.tab-strip-box.horizontal .tab-nav-box span.active{
    background-color: white;
    border-top: 1px solid #03A9F4;
    box-shadow: inset 0 1px 1px 0 #BEEBFF;
    color: #03A9F4;
}
.tab-strip-box.horizontal .tab-content-box{
    padding: 10px;
    border: solid 1px #dadada;
    border-top: none;
    position: relative;
    overflow: hidden;
}
.tab-strip-box.horizontal .tab-content{
    display: none;
    position: relative;
    overflow: auto;
}