.seek-bar-box.hbar{
    position: relative;
    width: 600px;
    height: 30px;
    padding: 0;
    margin: 50px auto;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.seek-bar-box.hbar > ul{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    position: relative;
    list-style: none;
    font-size: 0;
    background-color: #DEDEDE;
    box-shadow: inset 0 0 1px 1px #D4D4D4;
}
.seek-bar-box.hbar > ul > li{
    display: inline-block;
    width: 50px;
    height: 100%;
    line-height: 30px;
    text-align: center;
    color: white;
    border-right: solid 1px #BFBFBF;
    margin: 0 auto;
    font-size: 14px;
    position: relative;
    box-sizing: border-box;
    cursor: default;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
.seek-bar-box.hbar > ul > li.on-include{
    background-color: #4ab5ff;
    border-right: solid 1px #2196F3;
    box-shadow: inset 0 0 1px 1px #65CFFF;
}
.seek-bar-box.hbar > ul > li:last-child{
    border-right: none;
}
.seek-bar-box.hbar > .slider-btn{
    display: block;
    width: 20px;
    height: 40px;
    position: absolute;
    top: -5px;
    left: 0;
    background-color: #029BE0;
    box-shadow: 1px 0 1px 0 rgba(65, 187, 243, 0.25);
    text-align: center;
    cursor: move;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
.seek-bar-box.hbar > .slider-btn > i{
    display: inline-block;
    width: 3px;
    height: 20px;
    margin: 10px auto;
    border-radius: 1px;
    background-color: rgba(226, 226, 226, 0.73);
    box-shadow: 0 0 1px 1px #D4D4D4 inset;
}
.seek-bar-box.hbar > .slider-btn:hover{
    background-color: #00AAF7;
}

.seek-bar-box.hbar > ul > li.on-current{
    text-align: left;
    text-indent: 10px;
}
.seek-bar-box.hbar > ul > li.on-current:after{
    content: "个月";
    font-size: 10px;
    color: white;
    position: absolute;
    top: -5px;
    right: 0;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}