<include src="style.css"></include>

<div class="flex-menu-box" id="{{ @id }}">
    <div class="flex-menu-layout">
        <div class="flex-menu-line"></div>
        <div class="flex-menu-content">
            <div class="flex-content flex-first">
                <a href="#">首页</a>
            </div>
            <div class="flex-content ">
                <a href="javascript:void(0);">个人保险</a>
                <i class="flex-hot">2</i>
                <div class="flex-sub-menu">
                    <div class="flex-ex">
                        <a href="http://www.cignacmb.com/shop/shaoerxian.html" title="守护未来少儿教育金（分红型）">
                            <img width="50" style="vertical-align: middle" src="http://www.cignacmb.com/resource/upimg/201605/2016053111190456918.jpg" alt="守护未来少儿教育金（分红型）" />
                            <p>守护未来少儿教育金（分红型）</p>
                        </a>
                    </div>
                    <ul>
                        <li>儿童保险</li>
                        <li>健康保险</li>
                        <li>老人保险</li>
                        <li>意外保险</li>
                        <li>旅游保险</li>
                        <li>理财保险</li>
                    </ul>
                </div>
            </div>
            <div class="flex-content ">
                <a href="javascript:void(0);">团体保险</a>
                <div class="flex-sub-menu">
                    <ul>
                        <li>白金计划</li>
                        <li>黄金计划</li>
                        <li>白银计划</li>
                        <li>翡翠计划</li>
                        <li>珍珠计划</li>
                        <li>团体定期寿险及意外保险</li>
                    </ul>
                </div>
            </div>
            <div class="flex-content">
                <a href="javascript:void(0);">客服服务</a>
                <div class="flex-sub-menu">
                    <ul>
                        <li>保单服务</li>
                        <li>理赔服务</li>
                        <li>价格公告</li>
                        <li>表格下载</li>
                        <li>权益保护</li>
                        <li>附加值服务</li>
                        <li>直付医疗网络</li>
                        <li>客户活动</li>
                    </ul>
                </div>
            </div>
            <div class="flex-content flex-br-none">
                <a href="#">关于我们</a>
                <div class="flex-sub-menu">
                    <div class="flex-ex">
                        <a href="http://10.140.130.35/about/" title="关于我们">
                            <img width="150" src="http://10.140.130.35/sites/default/themes/cigna_cmc/cignacmb/images/banner/banner_right_01.jpg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<include src="index.js"></include>