.flex-menu-box{
    width: 100%;
    height: 40px;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0 auto;
    background-color: #02ACBB;
}
.flex-menu-box,
.flex-menu-box .flex-content,
.flex-menu-box .flex-sub-menu,
.flex-menu-box a {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.flex-menu-box a:hover{
    color: #02ACBB;
}
.flex-menu-box .flex-menu-layout{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: rgba(230,230,230,0.9);
    box-shadow: 0 1px 5px 1px #B5B5B5;
}
.flex-menu-box .flex-menu-line{
    width: 100%;
    height: 40px;
    background-color: #00a1a9;
    position: relative;
}
.flex-menu-box .flex-menu-content {
    width: 980px;
    height: 100%;
    margin: -40px auto 0 auto;
    font-size: 14px;
    color: #333333;
    position: relative;
}
.flex-menu-box .flex-content {
    width: 20%;
    height: 100%;
    float: left;
    position: relative;
}
.flex-menu-box .flex-content:hover .flex-sub-menu,
.flex-menu-box .flex-content:hover > a{
    background-color: rgba(255,255,255,.4);
}
.flex-menu-box .flex-content > a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: white;
    border-right: 1px solid rgba(36, 95, 99, 0.24);
}
.flex-menu-box .flex-sub-menu{
    height: 100%;
    padding: 10px 0;
    border-right: 1px solid rgba(36, 95, 99, 0.24);
    position: relative;
    text-align: center;
}
.flex-menu-box .flex-sub-menu ul li {
    display: block;
    width: 50%;
    padding: 5px 0;
    float: left;
    text-align: center;
}
.flex-menu-box .flex-content.flex-first,
.flex-menu-box .flex-content.flex-last{
    height: auto;
}
.flex-menu-box .flex-content.flex-br-none .flex-sub-menu,
.flex-menu-box .flex-content.flex-br-none > a,
.flex-menu-box .flex-content.flex-last .flex-sub-menu,
.flex-menu-box .flex-content.flex-last > a{
    border-right: 0;
}
.flex-menu-box .flex-menu-content:after,
.flex-menu-box .flex-sub-menu:after{
    content: "";
    display: block;
    zoom: 1;
    clear: both;
}

.flex-sub-menu .flex-ex img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.flex-sub-menu .flex-ex p{
    display: inline-block;
    width: 100px;
    font-size: 10px;
    line-height: 20px;
    vertical-align: middle;
    text-align: left;
}
.flex-menu-box .flex-hot{
    display: block;
    width: 18px;
    height: 14px;
    line-height: 14px;
    border-radius: 50% 0;
    background-color: #F9365D;
    position: absolute;
    top: 3px;
    right: 45px;
    text-align: center;
    color: white;
    font: 10px normal;
}
